.form {

  .form-title {
    position: relative;
    display: inline-block;
    padding: 0 55px;

    &:before,
    &:after {
      content: '';
      position: absolute;
      top: 50%;
      display: inline-block;
      width: 45px;
      height: 1px;
      background-color: #000;
    }

    &:before {
      left: 0;
    }

    &:after {
      right: 0;
    }
  }

  .form-input {
    font-size: 1.5vw;
    padding: 1%;
    box-sizing: border-box;
    padding: 5px;

    &:placeholder-shown + .form-label {
      opacity: 0;
      transform: translateY(1rem);
    }

    &:valid {
      border: 1px solid green;
    }

    &:invalid {
      border: 1px solid red;
    }
  }

  .form-label {
    font-size: 14px;
    position: absolute;
    top: 5px;
    left: 0;
    opacity: 1;
    transform: translateY(0);
    transition: all .2s ease-out;

    &.secod-input {
      left: 170px;
    }
  }
}
