.text-title {
  position: relative;
  padding: 0.5em;
  background-color: #a6d3c8;
  color: #fff;
  font-size: 2vw;
}

.text-title:before {/*
  position: absolute;
  content: '';
  top: 100%;
  left: 0;
  border: none;
  border-bottom: solid 15px transparent;
  border-right: solid 20px rgb(149, 158, 155);*/
}

.text-subtitle {
  background: linear-gradient(transparent 70%, #a5d3c8 70%);
}
